
#loading {
    color:rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    display: none;
  }
  .video-container {
    border: 1px solid #ffffff;
    padding: 20px;
    position: relative;
    text-align: center;
  }
  #myVideo {
    width: 100%;
    margin-bottom: 20px;
  }
  
  #loading {
    text-align: center;
    font-size: 18px;
  }
 
  

/* Styles pour les messages flash */
.alert {
  padding: 15px;
  margin-top:10px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.alert-vide {
  color: #06006f;
  background-color: #d7f7ff;
  border-color: #d7f7ff;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}









.uplcontainer {
    margin-top: 7%;
    background-color: #fff;
    border-radius: 20px;
    padding: 2rem .7rem .7rem .7rem;
    text-align: center;
    font-size: 1.125rem;
    max-width: 100%;
  }
  
  .form-title {
    color: #000000;
    font-size: 1.8rem;
    font-weight: 500;
  }
  
  .form-paragraph {
    margin-top: 10px;
    font-size: 0.9375rem;
    color: rgb(105, 105, 105);
  }
  
  .drop-container {
    background-color: #fff;
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 2.1875rem;
    border-radius: 10px;
    border: 2px dashed rgb(162, 255, 2);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    color: #444444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
  }
  
  .drop-container:hover {
    background: rgba(0, 140, 255, 0.164);
    border-color: rgba(17, 17, 17, 0.616);
  }
  
  .drop-container:hover .drop-title {
    color: #222;
  }
  
  .drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
  }
  
  #fileInput {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 2px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid#72b400;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  }
  
  #fileInput::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #72b400;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  #fileInput::file-selector-button:hover {
    background: #76a001;
  }

#détection{
  margin-right: 20px;
    border: none;
    background: #f4f5f400;
    padding: 10px 20px;
    border-radius: 10px;
    color: #72b400;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #72b400;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #72b400;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

#détection:hover{
    color: white;
    box-shadow: inset 0 -100px 0 0 #72b400;
}

#myImage{
  display:none;
  max-width: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  margin-top:10px;
}

  /* 
  ---------------------------------------------
  header
  --------------------------------------------- 
  */
  
  header {
    background-color: rgb(251, 249, 249)!important;
    height: 80px!important;
    position: fixed!important;
    top: 0px;
    left: 0px;
    right: 0px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15)!important;
  }
  
  header .logo,
  .background-header .main-nav .nav li a {
    color: #232d39!important;
  }
  
  header .main-nav .nav li:last-child a {
    color: #fff !important;
  }
  header .main-nav .nav li a {
    color: #000000 !important;
  }
  
  header .main-nav .nav li:last-child a:hover {
    color: #89ab00!important;
  }
  
  header .main-nav .nav li:hover a {
    color: #89ab00!important;
  }
  
  header .nav li a.active {
    color: #000000!important;
  }
  
  .header-area {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    height: 80px;
    background: rgba(250, 250, 250, 0);
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
  }
  
  .header-area .main-nav {
    min-height: 80px;
    background: transparent;
  }
  
  .header-area .main-nav .logo {
    line-height: 80px;
    color: #fff;
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    float: left;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
   
  .header-area .main-nav .nav {
    float: right;
    margin-top: 27px;
    margin-right: 0px;
    background-color: transparent;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 999;
  }
  
  .header-area .main-nav .nav li {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .header-area .main-nav .nav li a {
    display: block;
    font-weight: 500;
    font-size: 13px;
    color: #7a7a7a;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    height: 40px;
    line-height: 40px;
    border: transparent;
    letter-spacing: 1px;
  }
  
  .header-area .main-nav .nav li a {
    color: #fff;
  }
  
  .header-area .main-nav .nav li:last-child a {
    display: inline-block;
    font-size: 13px;
    padding: 11px 17px;
    background-color: #89ab00;
    color: #fff;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: uppercase;
    transition: all .3s;
    height: auto;
    line-height: 20px;
  }
  
  .header-area .main-nav .nav li:last-child a:hover {
    background-color: #b6b4ae1e;
    opacity: 1;
  }
  
  .header-area .main-nav .nav li:hover a,
  .header-area .main-nav .nav li a.active {
    color: #89ab00!important;
    opacity: 1;
  }
  
  .background-header .main-nav .nav li:hover a,
  .background-header .main-nav .nav li a.active {
    color: #89ab00!important;
    opacity: 1;
  }
  
  .header-area .main-nav .menu-trigger {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 23px;
    width: 32px;
    height: 40px;
    text-indent: -9999em;
    z-index: 99;
    right: 40px;
    display: none;
  }
  
  .header-area .main-nav .menu-trigger span,
  .header-area .main-nav .menu-trigger span:before,
  .header-area .main-nav .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #1e1e1e;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
  }
  
  .background-header .main-nav .menu-trigger span,
  .background-header .main-nav .menu-trigger span:before,
  .background-header .main-nav .menu-trigger span:after {
    background-color: #1e1e1e;
  }
  
  .header-area .main-nav .menu-trigger span:before,
  .header-area .main-nav .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #1e1e1e;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
    width: 75%;
  }
  
  .background-header .main-nav .menu-trigger span:before,
  .background-header .main-nav .menu-trigger span:after {
    background-color: #1e1e1e;
  }
  
  .header-area .main-nav .menu-trigger span:before,
  .header-area .main-nav .menu-trigger span:after {
    content: "";
  }
  
  .header-area .main-nav .menu-trigger span {
    top: 16px;
  }
  
  .header-area .main-nav .menu-trigger span:before {
    -moz-transform-origin: 33% 100%;
    -ms-transform-origin: 33% 100%;
    -webkit-transform-origin: 33% 100%;
    transform-origin: 33% 100%;
    top: -10px;
    z-index: 10;
  }
  
  .header-area .main-nav .menu-trigger span:after {
    -moz-transform-origin: 33% 0;
    -ms-transform-origin: 33% 0;
    -webkit-transform-origin: 33% 0;
    transform-origin: 33% 0;
    top: 10px;
  }
  
  .header-area .main-nav .menu-trigger.active span,
  .header-area .main-nav .menu-trigger.active span:before,
  .header-area .main-nav .menu-trigger.active span:after {
    background-color: transparent;
    width: 100%;
  }
  
  .header-area .main-nav .menu-trigger.active span:before {
    -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
    -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
    -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
    transform: translateY(6px) translateX(1px) rotate(45deg);
    background-color: #1e1e1e;
  }
  
  .background-header .main-nav .menu-trigger.active span:before {
    background-color: #1e1e1e;
  }
  
  .header-area .main-nav .menu-trigger.active span:after {
    -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    transform: translateY(-6px) translateX(1px) rotate(-45deg);
    background-color: #1e1e1e;
  }
  
  .background-header .main-nav .menu-trigger.active span:after {
    background-color: #1e1e1e;
  }
  
  .header-area.header-sticky {
    min-height: 80px;
  }
  
  .header-area.header-sticky .nav {
    margin-top: 20px !important;
  }
  
  .header-area.header-sticky .nav li a.active {
    color: #89ab00;
  }
  
  @media (max-width: 1200px) {
    .header-area .main-nav .nav li {
      padding-left: 12px;
      padding-right: 12px;
    }
    .header-area .main-nav:before {
      display: none;
    }
  }
  
  @media (max-width: 767px) {
    .header-area .main-nav .logo {
      color: #1e1e1e;
    }
    .header-area.header-sticky .nav li a:hover,
    .header-area.header-sticky .nav li a.active {
      color: #89ab00!important;
      opacity: 1;
    }
    .header-area {
      background-color: #f7f7f7;
      padding: 0px 15px;
      height: 80px;
      box-shadow: none;
      text-align: center;
    }
    .header-area .container {
      padding: 0px;
    }
    .header-area .logo {
      margin-left: 30px;
    }
    .header-area .menu-trigger {
      display: block !important;
    }
    .header-area .main-nav {
      overflow: hidden;
    }
    .header-area .main-nav .nav {
      float: none;
      width: 100%;
      display: none;
      -webkit-transition: all 0s ease 0s;
      -moz-transition: all 0s ease 0s;
      -o-transition: all 0s ease 0s;
      transition: all 0s ease 0s;
      margin-left: 0px;
    }
    .header-area .main-nav .nav li:first-child {
      border-top: 1px solid #eee;
    }
    .header-area .main-nav .nav li:last-child {
      width: 100%;
      background-color: #89ab00;
      color: #fff;
    }
    .header-area .main-nav .nav li:last-child a {
      background-color: #89ab00!important;
    }
    .header-area .main-nav .nav li:last-child a:hover,
    .header-area .main-nav .nav li:last-child:hover a {
      background-color: #89ab00!important;
      color: #fff!important;
    }
    .header-area.header-sticky .nav {
      margin-top: 80px !important;
    }
    .header-area .main-nav .nav li {
      width: 100%;
      background: #fff;
      border-bottom: 1px solid #eee;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
    .header-area .main-nav .nav li a {
      height: 50px !important;
      line-height: 50px !important;
      padding: 0px !important;
      border: none !important;
      background: #f7f7f7 !important;
      color: #232d39 !important;
    }
    .header-area .main-nav .nav li:last-child a {
      color: #fff!important;
    }
    .header-area .main-nav .nav li a:hover {
      background: #eee !important;
      color: #89ab00!important;
    }
    .header-area .main-nav .nav li.submenu ul {
      position: relative;
      visibility: inherit;
      opacity: 1;
      z-index: 1;
      transform: translateY(0%);
      transition-delay: 0s, 0s, 0.3s;
      top: 0px;
      width: 100%;
      box-shadow: none;
      height: 0px;
    }
    .header-area .main-nav .nav li.submenu ul li a {
      font-size: 12px;
      font-weight: 400;
    }
    .header-area .main-nav .nav li.submenu ul li a:hover:before {
      width: 0px;
    }
    .header-area .main-nav .nav li.submenu ul.active {
      height: auto !important;
    }
    .header-area .main-nav .nav li.submenu:after {
      color: #3B566E;
      right: 25px;
      font-size: 14px;
      top: 15px;
    }
    .header-area .main-nav .nav li.submenu:hover ul, .header-area .main-nav .nav li.submenu:focus ul {
      height: 0px;
    }
  }
  
  @media (min-width: 767px) {
    .header-area .main-nav .nav {
      display: flex !important;
    }
  }
  
  