<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com-->
<html lang="fr" dir="ltr">
  <head>
    <link rel="icon" type="image/png" href="../assets/images/logomini.png">
    <meta charset="UTF-8">
    <title> S'inscrire</title>
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="../assets/css/style1.css">
    <script defer src="../assets/js/formulaire.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>

   

<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="../assets/images/tomato2.jpg" alt="">
        <div class="text">
          <span class="text-1">Prenez le contrôle de l'avenir <br> de votre champ</span>
          <span class="text-2">Connectez-vous!</span>
        </div>
      </div>

    </div>


    <div class="forms">
        <div class="form-content">

      <div class="signup-form">
        <a href="/" class="logo"><img src="../assets/images/logo (1).png" alt="logo gark sport" style="width: 120px; height: auto;"></a>
            <div class="title">S'inscrire</div>

                <form action="/signup" method="POST" name="creer_compte" onsubmit="return verifcreer(document.creer_compte.pwd,document.creer_compte.pwd2)">
                    <div class="input-boxes">

                        <div class="input-box">
                            <i class="fas"></i>
                                <input type="text" placeholder="Entrer votre NCIN" name="userid" required>
                        </div>


                        <div class="input-box">
                        <i class="fas"></i>
                            <input type="text" placeholder="Entrer votre Nom" name="username" required>
                        </div>

                        <div class="input-box">
                        <i class="fas"></i>
                            <input type="email" placeholder="Entrer votre Email" name="email" required>
                        </div>

                        <div class="input-box">
                            <i class="fas"></i>
                                <input type="int" placeholder="Entrer votre Numero de Téléphone" name="phone" required>
                        </div>

                        <div class="input-box">
                        <i class="fas"></i>
                            <input type="password" placeholder="Entrer votre Mot de passe" name="pwd" required>
                        </div>

                        <div class="input-box">
                          <i class="fas"></i>
                              <input type="password" placeholder="Confirmer le Mot de passe" name="pwd2" required>
                          </div>
                          {% if messages %}
                            {% for category, message in messages %}
                              <div class="alert alert-{{ category }}">
                                {{ message }}
                              </div>
                            {% endfor %}
                          {% endif %}  
                        <div class="button input-box">
                            <input type="submit" value="S'inscrire">
                        </div>

                        <div class="text sign-up-text">Vous avait déja un compte? <label for="flip"> <a href="/login">Se connecter</a></label></div>
                    </div>
 
              
                </form>


        </div>
  </div>

    
</div>
</div>
</body>
</html>